
{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_recipe">Add Recipe</a>
  <hr>
  
  {% if session.logged_in == NULL %}
  
  <div class="jumbotron text-center">
    <h1>Welcome To FlaskApp</h1>
    <p class="lead">This application is built on the Python Flask framework and is the focus for the
  
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  </div>
  {%endif%}
{%endblock%}