{%extends 'layout.html'%}

{% block body %}
  <h1> Inventory </h1>
  <p> Please describe the stock of each ingredient in your inventory. Please note that if you describe a </p>
  <hr>
  {%from 'formhelper.html' import render_field%}
  <table class="table table-striped">
        <tr>
          <th><b>Ingredients Name</b></th> 
          <th>Status</th>
          <th></th>
          <th></th>
    </tr>
    {% for data in data %}
      <tr>
        <td style = 'background-color:#BC8F8F'><a href="#" style = 'color:white'> <b>{{data.ingredient_name}} </b></a></td>
        <td style = 'background-color:#BC8F8F'>
          <form action="{{url_for('ingredlist')}}" method="POST">
            <div class="form-group">
              <div>
                <b>{{ render_field(form.ingredients) }}</b>
              </div>
            </div>
            
         
        </td>
        <td style = 'background-color:#BC8F8F'><button type="submit" class="btn btn-primary">Submit Status</button></td>
        </form>
     
      
      </tr>
    {% endfor %}
  </table>


 
  

  
{% endblock %}